body{
	margin: 0px;
	padding: 0px
}
.container{
	width: 100%;
	margin: 0px;
}

.search {
	margin-top:20px;
	margin-bottom:20px;
}
.container {
    background: rgba(255, 255, 255, 0.8);
}

.songChords {
	border-bottom: 1px solid black;
	padding-top: 15px;
	padding-bottom: 20px;
}

.thisTitle {
	padding-top: 30px;
}

.setListTemplate {
	border-bottom: 1px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.chords {
	text-align: center;
	font-size: 150%;
}

.expand {
	float:left;
}

.centerChords {
	margin-left: 10%;
}